<div class="status-bar" *ngIf="(!!hero)">
    <div class="info-block hero-name">
        Имя: <span class="value">{{hero.name}}</span>
    </div>
    <div class="info-block stamina">
        Выносливость: <span class="value">{{ hero.stamina }}</span>
        <mat-progress-bar 
            mode="determinate" 
            [value]="hero.stamina / hero.maxStamina * 100"></mat-progress-bar>
    </div>
    <div class="info-block coins">
        Золото: <span class="value">{{ hero.coins }}</span>
    </div>
</div>
<div class="status-bar" *ngIf="(!!hero.maze) && hero.maze.status == InProgressValue">
    <div class="info-block">
        Уровень лабиринта: <span class="value">{{hero.maze.heroCurrentLevelNumber}}</span>
    </div>
    <div class="info-block" *ngIf="!!hero.maze.levels[hero.maze.heroCurrentLevelNumber].rooms">
        Комнат на уровне осталось: <span class="value">{{ hero.maze.levels[hero.maze.heroCurrentLevelNumber].rooms.length }}</span>
    </div>
    <div class="info-block">
        Степень защиты: <span class="value">{{ hero.maze.levels[hero.maze.heroCurrentLevelNumber].defense }}</span>
    </div>
</div>
<div *ngIf="(!hero)">
    Is loading
</div>