<div class="status-bar" *ngIf="(!!hero)">
    <div class="info-block hero-name">
        Имя: <span class="value">{{hero.name}}</span>
    </div>
    <div class="info-block stamina">
        Выносливость: <span class="value">{{ hero.stamina }}</span>
        <mat-progress-bar 
            mode="determinate" 
            [value]="hero.stamina / hero.maxStamina * 100"></mat-progress-bar>
    </div>
    <div class="info-block coins">
        Золото: <span class="value">{{ hero.coins }}</span>
    </div>
</div>
<div class="status-bar" *ngIf="(!!maze)">
    <div class="info-block">
        Уровень лабиринта: <span class="value">{{maze.level}}</span>
    </div>
    <div class="info-block">
        Степень защиты: <span class="value">{{ maze.defense }}</span>
    </div>
</div>
<div *ngIf="(!hero)">
    Is loading
</div>