<div>
    <mat-form-field appearance="fill">
        <mat-label>Имя героя</mat-label>
        <input matInput [(ngModel)]="heroName" placeholder="Например: Конан" />
    </mat-form-field>
</div>
<div>
    Стартовый капитал:
    <mat-button-toggle-group [(ngModel)]="heroStartCoins" aria-label="Font Style">
        <mat-button-toggle 
            *ngFor="let startCoinOption of startCoinOptions" 
            [value]="startCoinOption">
            {{startCoinOption}} $
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div>
    Уровень веры:
    <mat-button-toggle-group [(ngModel)]="levelOfFaith" aria-label="Font Style">
        <mat-button-toggle 
            *ngFor="let levelOfFaith of levelOfFaithOptions" 
            [value]="levelOfFaith">
            {{levelOfFaith}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div>
    <button mat-raised-button (click)="createHero()">Создать</button>
</div>
<div>
    {{error}}
</div>