<div>
    <mat-form-field appearance="fill">
        <mat-label>Hero name</mat-label>
        <input matInput [(ngModel)]="heroName" placeholder="Example: Conan" />
    </mat-form-field>
</div>
<div>
    <mat-button-toggle-group [(ngModel)]="heroStartCoins" aria-label="Font Style">
        <mat-button-toggle 
            *ngFor="let startCoinOption of startCoinOptions" 
            [value]="startCoinOption">
            {{startCoinOption}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div>
    <button mat-raised-button (click)="createHero()">Create</button>
</div>
<div>
    {{error}}
</div>