<div>
    <mat-form-field appearance="fill">
        <mat-label>Hero name</mat-label>
        <input matInput [(ngModel)]="heroName" placeholder="Example: Conan" />
    </mat-form-field>
    <button mat-raised-button (click)="getHero()">Choose the hero</button>
</div>
<div>
    <div>Герои что ищут богов</div>
    <div class="heroes-card">
        <mat-card class="hero-card" *ngFor="let hero of savedHeroes">
            <mat-card-title>{{hero.name}}</mat-card-title>
            <mat-card-subtitle>
                Сила веры: 
                <span *ngIf="hero.levelOfFaith == FaithLow">Атеист</span>
                <span *ngIf="hero.levelOfFaith == FaithNormal">Средняя</span>
                <span *ngIf="hero.levelOfFaith == FaithHigh">Фанатик</span>
            </mat-card-subtitle>
            <mat-card-content>
                <div class="coins">
                    <mat-icon>monetization_on</mat-icon> {{hero.coins}}
                </div>
                <div>
                    Остановился на {{hero.maze.heroCurrentLevelNumber}} уровне
                </div>
                <div>
                    <div>Выносливость: [{{hero.stamina}} / {{hero.maxStamina}}]</div>
                    <mat-progress-bar mode="determinate" [value]="hero.stamina / hero.maxStamina * 100">
                    </mat-progress-bar>
                    <div>Сила: {{hero.strength}}</div>
                    <div>Ловкость: {{hero.dexterity}}</div>
                    <div>Удача: {{hero.luck}}</div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="chooseHero(hero.name)">Помочь</button>
                <button mat-raised-button color="warn" (click)="kill(hero)">Убить</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div>
    {{error}}
</div>