.heroes-card{
    display: flex;
    flex-wrap: wrap;
    .hero-card{
        width: 200px;
        margin: 5px;

        .coins{
            display: flex;
            align-items: flex-end;
        }

        .mat-card-actions{
            display: flex;
            justify-content: space-between;
        }
    }
}
